* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    background-image: linear-gradient(yellow, green);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
    background-position: center center;
    background-attachment: fixed;
}

h1 {
    text-align: center;
    font-family: 'Pangolin', cursive;
    padding: 5px 0;
    font-size: 72px;
}

h2 {
    text-align: center;
    font-weight: lighter;
    font-family: 'Pangolin', cursive;
    padding: 20px 0 10px;
    font-size: 48px;
}

.page-wrapper {
    max-width: 768px;
    margin: 0 auto;
    padding: 0 10px;
}

/*** GRID ***/ 
.grid-container {
    display: grid;
    max-width: 500px;
    margin: 0 auto;
    padding: 15px;
    background-image: linear-gradient(rgb(149, 147, 255), rgb(65, 65, 255));
    grid-template-columns: auto auto auto auto;
    grid-row-gap: 10px;
    grid-column-gap: 15px;
    box-shadow: 5px 10px 18px black;
    border: 3px solid rgb(46, 7, 7);
    border-radius: 2%;
}

.grid-item {
    border: 1px solid rgba(0, 0, 0, 0.8);
    background-image: linear-gradient(rgb(120, 228, 70), green);
    padding: 20px;
    font-family: 'Pangolin', cursive;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    align-items: center;
    box-shadow: 1px 2px 3px black;
}

.grid-item:hover {
    background-image: none;
    background-color: red;
    cursor: pointer;
}

.grid-2-span-row {
    grid-row: span 2;
}

.grid-2-span-col {
    grid-column: span 2;
}

.grid-4-span-col {
    grid-column: span 4;
}

#input {
    border: 5px solid rgba(0, 0, 0, 0.8);
    background-image: linear-gradient(rgb(255, 255, 187), yellow);
    padding: 0px 15px;
    font-family: 'Sriracha', cursive;
    font-weight: bold;
    font-size: 52px;
    text-align: right;
    align-items: center;
    box-shadow: 1px 2px 3px black;
}

#equal {
    color: purple;
    font-family: 'Sriracha', cursive;
    font-weight: bold;
    font-size: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/************/

/*** TABLE ***/ 
table, th, td {
    border: 1px solid black;
}

table {
    border: 3px solid black;
    border-collapse: collapse;
    width: 80%;
    margin: 0 auto;
}

td {
    text-align: center;
    font-size: 18px;
}
/*************/